body {
  width: 100%;
  background-color: #DEF2F1;
  padding-top: 100px;
}

.card {
  min-width: 250px;
  max-width: 30%;
  margin: 10px;
  border-radius: 15%;
  transition: all 0.3s ease-out;
}
.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.card-filter {
  padding: 1px;
}


.blog {
  display: flex;
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  width: 100%;
  margin: 0;
  background-color: #17252a;
  position:fixed;
  z-index: 20;
  top: 0;
}

.filter {
  display: none;  
}

.footer {
  display: inline;
  background-color: rgb(73, 173, 231);
}

h1 {
  color: #FEFFFF;
}
